 * {
     box-sizing: border-box;
 }

 body {
    background-color: lightgray;
 }

.header {
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header h1 {
    text-align:center;
    margin: 0px;
    padding: 24px 0px;
}

 .topnav {
     display: flex;
     flex-direction: row;
     justify-content: center;
     flex-wrap:wrap;
     background-color: black;
     border-top: gray 1px solid;
     margin-bottom: 50px;
 }

 .topnav a {
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .topnav a:hover {
    background-color:gray;
    color:black;
 }
 
 .footer {
    background-color:#4D4D4D;
    border-top: solid 5px black;
    color:white;
    display:flex;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 50px;
 }

 /* Main Page/Index Content */

 #about {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

h2, p {
    text-align: center;
}

@media (max-width: 700px) {
  #about {
    flex-direction: column;
  }
}

 #about-text, #about-image {
     width: 50%;
     padding: 20px;
 }

 @media (max-width: 700px) {
  #about-text, #about-image {
    width: 100%
  }
}


 #about-image img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid gray;
 }

/* Services Content */

 table {
    width: 50%;
    margin-left: 25%;
 }

@media (max-width: 700px) {
    table {
        width: 100%;
        margin: 0 auto;
    }

    tr,
    td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 20px;
    }

    td {
        text-align: center;
    }
}

td {
    padding: 10px;
}

 /* Gallery Content */

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.gallery-row img {
    width: 25%;
    height: auto;
    padding: 5px;
    display: block;
}

@media (max-width: 700px) {
    .gallery-row img {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .gallery-row img {
        width:100%;
    }
}

/* Form Styling - Booking and Contact */

.form {
    width: 50%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-top: 3px black dotted;
    border-bottom: 3px black dotted;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

form label {
    width: 150px;
    text-align: right;
    margin-right: 20px;
}

@media (max-width: 900px) {
    .form {
        width: 65%;
    }
}

@media (max-width:800px) {
    .form {
        width:75%;
    }

    form div {
        flex-direction: column;
        align-items: center;
    }

    form label {
        width: auto;
        text-align: center;
        margin-right: 0;
    }

    form input {
        width: 50%;
    }
}

/* Contact Content */

#location {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

gmp-map {
    width:50%;
    border: 2px solid black;
}

#location-text {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.contact-hours {
    margin-top: 40px;
}

@media (max-width:700px) {
    #location {
        flex-direction: column;
    }
    gmp-map, #location-text {
        width: 90%;
    }
}

#contact-form {
    margin-top: 40px;
}